<h1>Listing pec_complaints</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pec_complaints.each do |pec_complaint| %>
  <tr>
    <td><%= link_to 'Show', pec_complaint %></td>
    <td><%= link_to 'Edit', edit_pec_complaint_path(pec_complaint) %></td>
    <td><%= link_to 'Destroy', pec_complaint, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pec complaint', new_pec_complaint_path %>
